@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{ 
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44343/MyHub").build()

            $("#conStatus").text(connection.connectionState);

            connection.start().then(() => {
                $("#conStatus").text(connection.connectionState);
            }).catch((err) => { console.log(err) });

            $("#btnSaveName").click(() => {
                connection.invoke("SendName", $("txtName").val()).catch((err) =>
                    console.log(err))
            })

            //method subscription x1
            connection.on("ReceiveName", (name) => {
                console.log(name)
            })
        })
    </script>
}
<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName"/>
        <hr />
        <button class="btn btn-primary" id="btnSaveName">Save Name</button>
        <div class="alert alert-info">
            Connection Status: <strong id="conStatus"></strong>
        </div>
    </div>
</div>